body {
	background-color: #fff;
    letter-spacing: -3px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 180%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	text-shadow:  
		1px  1px  3px  rgba(0, 0, 0, .5), 
		3px  3px  5px  rgba(0, 0, 0, .3);
	background-image: url(../img/old420.jpg);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#loading {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,1);
}

.nedry {
    width:300px;
    height:278px;
    margin: 0 auto;
    background-image: url('../img/nedry.jpg');
    -webkit-animation: flip .5s steps(10) infinite;
       -moz-animation: flip .5s steps(10) infinite;
        -ms-animation: flip .5s steps(10) infinite;
         -o-animation: flip .5s steps(10) infinite;
}


.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2.0s, opacity 2.0s linear;
}


@-webkit-keyframes flip {
   from { background-position:    0px; }
     to { background-position: -3000px; }
}

@-moz-keyframes flip {
   from { background-position:    0px; }
     to { background-position: -3000px; }
}

@-ms-keyframes flip {
   from { background-position:    0px; }
     to { background-position: -3000px; }
}

@-o-keyframes flip {
   from { background-position:    0px; }
     to { background-position: -3000px; }
}

@keyframes flip {
   from { background-position:    0px; }
     to { background-position: -3000px; }
}
