body {
	background-image: url(../img/old420.jpg);
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#loading {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,0,255,1);
}